.SignInPad{
        margin-left: 30%;
        width: 40%;
        height: 250px;
        margin-top: 50px;
        background-color: rgba(254, 252, 252, 0.784);
        box-shadow: 5px 5px rgba(0, 0, 0, 0.377);
        border-radius: 15px;
        margin-top: 100px;
}
.SIN{
    margin-top: 30px;
    margin-left: 30%;
    border-radius: 5px;
    width: 40%;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.345);
    height: 30px;
}
.SIP{
    margin-top: 30px;
    margin-left: 30%;
    border-radius: 5px;
    width: 40%;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.345);
    height: 30px;
}
.SINButton{
    margin-left: 35%;
    width: 30%;
}
.SINButton {
    background-color: #fbeee0;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .SINButtonhover {
    background-color: #fff;
  }
  
  .SINButton:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
  }
  
  @media (min-width: 768px) {
    .SINButton {
      min-width: 120px;
      padding: 0 25px;
    }
  }
  .SINButton{
      margin-top: 20px;
  }
  